body{
    background-color: #EEEEEE;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 72%;
    margin: 0 auto;
    padding-top: 50px;
}

p.site-title{
    color:#000000;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
    width: 100%;
}

.picture-one{
    
    margin: 10px;
    float: right;
    padding: 10px;
    border: 3px solid black;
    background-color: white;
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
}
p{
    padding-bottom: 20px;
}
blockquote{
    border-left: 5px solid #DCDCDC;
    padding-left: 40px;
    width: 40%;
    float: right;


}
author{
    display: block;
    padding: 30px;
    text-align: right;
}
.picture-two{
    padding: 0 ;
    float: left;
    padding: 10px;
    border: 3px solid black;
    background-color: white;
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.75);
    margin-right: 20px;
}

