body, ul, li {
    display: flex;
}
ul{
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 1 80%;
    background-color: grey;
}
img {
    padding: 0.5em;
}
li {
    align-items: center;
    border: 0.5em solid black;
    margin: 0.2em;
    background: white;
}