html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
body{
    padding: 80px;
}
h1{
    font-family: Georgia, serif;
    color: white;
    font-weight: normal;
    font-size: 30px;
}
article{
    background-color: rgb(51, 102, 153);
    border-radius: 1rem;
    padding: 30px;
    color: white;
}
