@media all and (max-width: 768px){
    .main-movie-poster {
        display: none;
    }
    .main-movie ul li {
        padding: 0;
    }
    .main-movie-trailer iframe {
        width: 320px;
        height: 160px;
    }

}
@media all and (max-width: 414px){
    .movie-list{
        flex-direction: column;
        align-items: center;
        
    }
}