* {
    box-sizing: border-box;
}
body {
    padding: 10px 60px;
}
header {
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0);
    justify-content: space-between;
}
header ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
    width: 400px;
    margin-top: 20px;
}
h1 {
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}
li {
    padding: 20px;
}