html{
    box-sizing: border-box;
}
*, *:before,*after {
    box-sizing: inherit;
}
body{
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}
article{
    width: 70%;
    margin: 0 auto;
}
.image {
    width: 50%;
}
img{
    width: 100%;
}